.git
.github
.until-done
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/uploads/*
bootstrap/cache/*
.env
.env.*
.DS_Store
npm-debug.log
