APP_NAME="OpenLskyPro"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://example.com

LOG_CHANNEL=daily
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=openlskypro
DB_USERNAME=openlskypro
DB_PASSWORD=change-me

CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

HTTP_PORT=8080
LARAVEL_OPTIMIZE=true


IGNITION_SHARING_ENABLED=false
